.front(tabindex='0')
  img(src=locals.image.url+ '/convert?w=220&h=360')
  .caption
    p.name
      strong= locals.title
    p.blurb= locals.shortDescription
  i.icon-repeat.flip-icon
.back
  .quotes
    span #{locals.first_name} #{locals.last_name} once said:
    if locals.heroQuote
      p<em>"#{heroQuote}"</em>
        if locals.heroQuoteSource
          br
          span.tooltip-trigger(title=heroQuoteSource) Source
    if locals.villainQuote
      p<em>"#{villainQuote}"</em>
        if locals.villainQuoteSource
          br
          span.tooltip-trigger(title=villainQuoteSource) Source
    if locals.ambiQuote
      p<em>"#{ambiQuote}"</em>
        if locals.ambiQuoteSource
          br
          span.tooltip-trigger(title=ambiQuoteSource) Source
  a.personInfo More about #{locals.last_name}