.modal-body
  h2=locals.title
  if locals.heroQuote
    p<em>"#{heroQuote}"</em>
      if locals.heroQuoteSource
        br
        span.tooltip-trigger(title=heroQuoteSource) Source
  if locals.villainQuote
    p<em>"#{villainQuote}"</em>
      if locals.villainQuoteSource
        br
        span.tooltip-trigger(title=villainQuoteSource) Source
  if locals.ambiQuote
    p<em>"#{ambiQuote}"</em>
      if locals.ambiQuoteSource
        br
        span.tooltip-trigger(title=ambiQuoteSource) Source
  p(title='Press escape to return to heroes and villains', aria-labelledby=locals._id)=locals.fullDescription
  p
    if locals.resources
      for resource in resources
        p=resource.resource
