label #{object.label}
	if object.required
		span *
	input(id=object.name, type='text', name=object.name, class=object.className, value=object.value)
if object.error
	p.error-text=object.error
if object.helpText
	span.help-block=object.helpText
