h2=title
p !{fullDescription}
if locals.prods.length > 1
  p You can also view this entry on the:
  #other-prods
if locals.resources
  for resource in resources
    p.small !{resource.resource}
if locals.links.length
  h5 Related Nodes
  for link in links
    div
      a.link(href='#', data-id=link._id, style='font-size:'+link.size+'px;')=link.title
if locals.image
  .images
    img(src=image.url + '/convert?w=125&h=100')